.main-nav{
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color: #fff;
}

.main-nav a:hover{
    color: rgb(255, 115, 0);
}

.page-header{
    display: flex;
    justify-content: space-between;
    background-color: #becffd;
}

.wrapper{
    max-width: auto;
    margin: 0 auto;
    padding: 0 4%;
}

.header-button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: #4e7dff;
    border-bottom: 5px #4e7dff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
  }

  .logout {
    text-align: right;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: #4e7dff;
    border-bottom: 5px #4e7dff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
  }