
  /********************** questionList.jsのcss **************************/
  .top {
    font-size: 25px;
  }

  .question {
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
  }

  .q-text {
    font-size: 18px;
    text-align: left;
  }

  .first {
    font-size: 18px;
    color:rgb(0, 0, 255);
  }

  .second {
    font-size: 18px;
    color:rgb(255, 0, 255);
  }

  .after {
    font-size: 18px;
  }

  .button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
  }

  .errorMessage {
    font-size: 25px;
    /* なぜか適用できない */
    color: rgb(255, 0, 0);
  }

  .table {
    text-align: center;
  }