/********************** signup.jsのcss **************************/
.signup-title {
  text-align: center;
  margin: 40px 0;
}
.signup-table tr {
  height: 100px;
  font-size:20px;
  text-align: center;

}

.signup-table th {
  width: 200px;
  vertical-align: middle; 
}

.signup-table td {
  vertical-align: middle; 
}

.admin-select {
  margin: 20px;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background-color: #28a745;
  border-bottom: 5px solid 	#2E8B57;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.signup-button:hover {
  transition: all .2s linear;
  text-decoration: none;
  margin-top: 3px;
  color: #fff;
  background: #28a745;
  border-bottom: 2px solid 	#2E8B57;
}

.errorMessage{
  color: rgb(255, 0, 0);
font-size: 10px;
}

/********************** userList.jsのcss **************************/

.userInfo {
  text-align: center;
  width: 1000px;
}

.userList-table tr {
  height: 100px;
  font-size:20px;
  text-align: center;
  min-width: 150px;

}

.userList-table th {
  width: 150px;
  vertical-align: middle; 
}

.userList-table td {
  width: 150px;
  vertical-align: middle; 
}

.suspendedButton {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
  border-bottom: 5px solid 	#2E8B57;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.rebornButton{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #a72828;
  border-bottom: 5px solid 	#a72828;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.editButton{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #2846a7;
  border-bottom: 5px solid 	#2846a7;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.top {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.currentType {
  font-size: 15px;
}


/********************** login.jsのcss **************************/
.login-title {
  text-align: center;
  margin: 40px 0;
}

.loginButton {
  margin: 20px;
}